{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    
    {% block extra_css %}
    <!-- CSS adicional será inserido aqui -->
    {% endblock %}

    {% block extra_js_head %}
    <!-- JavaScript adicional será inserido aqui -->
    {% endblock %}

    <title>{% block title %}Controle de estoque{% endblock %}</title>
</head>
<body>  
  {% block header %}
  <!-- Cabeçalho da página será inserido aqui -->
  {% endblock %}

  {% block content %}
  <!-- Conteúdo específico da página será inserido aqui -->
  {% endblock %}

  {% block footer %}
  <!-- Rodapé da página será inserido aqui -->
  {% endblock %}
    
  {% block extra_js_footer %}
  <!-- JavaScript adicional será inserido aqui -->
  {% endblock %}
</body>
</html>