{% extends 'base.html' %}
{% load static %}

{% block title %}Redefinir Senha{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/forgotPassword.css' %}">
{% endblock %}

{% block content %}

<div class="top-bar">
  <div class="logo">
  </div>
  <a href="/">
      <i class="bi bi-arrow-left-short"></i>
      Início
  </a>
</div>
<main>    
  <div class="flex-container">
      <div class="container container-password">
          <div class="content">
              <h2>Redefinir senha</h2>
              <hr />
              <p>Forneça a nova senha nos campos abaixo</p>

              <form method="post" class="forgot-form">
                  {% csrf_token %}
                  <input type="hidden" name="uidb64" value="{{ uid }}">
                  <input type="hidden" name="token" value="{{ token }}">
                  
                  <label for="id_new_password1">Nova Senha</label>
                  <input type="password" name="new_password1" id="id_new_password1" required>
                  {% if form.new_password1.errors %}
                    <div class="error">{{ form.new_password1.errors }}</div>
                  {% endif %}

                  <label for="id_new_password2">Confirme a Nova Senha</label>
                  <input type="password" name="new_password2" id="id_new_password2" required>
                  {% if form.new_password2.errors %}
                    <div class="error">{{ form.new_password2.errors }}</div>
                  {% endif %}
                  
                  <button class="accept confirm-btn">Redefinir Senha</button>
              </form>
              
          </div>                
      </div>

      <div class="container container-image">               
          <img class="key_icon" src="{% static 'images/key_icon.svg' %}" alt="" srcset="">
      </div>

  </div>
</main>
{% endblock %}