{% extends 'base.html' %}
{% load static %}

{% block title %}Redefinir senha - Email Enviado{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/forgotPassword.css' %}">
{% endblock %}

{% block content %}
<div class="top-bar">
  <div class="logo">
      
  </div>
  <a href="/">
      <i class="bi bi-arrow-left-short"></i>
      Início
  </a>
</div>
<main>    
  <div class="flex-container">
      <div class="container container-password">
          <div class="content">
              <h2>Email enviado</h2>
              <hr />
              <p>Um email com instruções para redefinição de senha foi enviado.</p>
              <p>Verifique sua caixa de entrada</p>
              <div class="return-login">
                  <a href="/">Voltar a pagina de Login</a>
              </div>
              
          </div>                
      </div>

      <div class="container container-image">               
          <img class="key_icon" src="{% static 'images/key_icon.svg' %}" alt="" srcset="">
      </div>

  </div>
</main>
{% endblock %}