{% extends 'base.html' %}
{% load static %}

{% block title %}Redefinir senha{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/forgotPassword.css' %}">
{% endblock %}

{% block content %}
<div class="top-bar">
  <div class="logo">
  </div>
  <a href="/">
      <i class="bi bi-arrow-left-short"></i>
      Início
  </a>
</div>
<main>    
  <div class="flex-container">
      <div class="container container-password">
          <div class="content">
              <h2>Recuperar senha</h2>
              <hr />
              <p>Informe o email cadastrado para redefinir a sua senha.</p>

              <form method="post" action="{% url 'password_reset' %}" class="forgot-form">
                  {% csrf_token %}
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" required>
                  <button class="accept">Enviar</button>
              </form>        

          </div>                
      </div>

      <div class="container container-image">               
          <img class="key_icon" src="{% static 'images/key_icon.svg' %}" alt="" srcset="">
      </div>

  </div>
</main>
{% endblock %}