<section class="section about" id="section-about">            
                
  <h2 class="section-title">Sobre</h2>    
  <div class="a">
      <div class="about-container">
          
          <p>
              Este software foi desenvolvido por alunos da Univesp, como parte de um projeto para conclusão do curso,
              para mais informações, consulte a aba contanto em Configuirações do Usuário <i class="bi bi-three-dots-vertical"></i> > Contato.
          </p>
            
          
      </div>
  </div>            
  
  
</section>