<section class="section dashboard" id="section-dashboard">
  <h2 class="section-title">DashBoard</h2>

  <div class="dashboard-container">
    <div class="flex-column">
      <div class="card card-small">
        <h3>Produtos</h3>

        <div class="card-container">
          <div class="center card-content">
            <div class="title-content">Produtos</div>
            <div>{{ produtos.count }}</div>
          </div>

          <div class="center card-content">
            <div class="title-content">Categorias</div>
            <div>{{ categorias.count }}</div>
          </div>
        </div>

        <div class="card-container">
          <div class="center card-content">
            <div class="title-content">Em estoque</div>
            <p>{{ total_estoque }}</p>
          </div>
        </div>
      </div>

      <div class="card card-small">
        <h3>Funcionários</h3>
        <div class="card-container">
          <div class="center card-content">
            <div class="title-content">Ativos</div>
            <div>{{ users.count }}</div>
          </div>
        </div>

        <div class="card-container">
          <div class="center card-content">
            <div class="title-content">Total</div>
            <p>{{ users.count }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex-colum full-area">
      <div class="card full-area">
        <h3>Histórico</h3>

        <div class="overflow-scroll history">
          {% for log in logs|slice:":5" %}
          <div class="card-container">
            <div class="card-content">
              <div class="date-tiltle-container">
                <div class="title-content">{{ log.usuario.first_name }}</div>
                <div class="date">{{ log.data|date:"d/m/Y H:i" }}</div>
              </div>
              <p>{{ log.acao }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
