<section class="section employees" id="section-employees">            
          
  <h2 class="section-title">Funcionários</h2>

  <div class="buttons-container">                     
      
      <label for="itemsPerPage">Mostrar até</label>
      <select class="" id="itemsPerPage">
          <option value="4">5</option>
          <option value="5">10</option>
          <option value="10">15</option>
      </select>

      <button class="export button-storage">
          Exportar
          <i class="bi bi-file-earmark-arrow-down"></i>
      </button>

      <button class="filter button-storage">
          Filtro 
          <i class="bi bi-filter"></i>
      </button>

      <button class="new button-storage">
          Adicionar Funcionário <i class="bi bi-plus-circle"></i>
      </button>    
  </div>

  <div class="table-container">                    

      <table class="products">
          <thead>
              <tr>
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Sobrenome</th>
                  <th>Email</th>
                  <th>Status</th>
                  <th></th>                            
              </tr>
          </thead>

          <tbody>
            {% for user in users %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.email }}</td>
              <td>{% if user.is_active %}Ativo{% else %}Inativo{% endif %}</td>
            </tr>
            {% endfor %}
          </tbody>  
      </table>
  </div>

  <div class="table-arrows">
      <div class="arrow"><a href=""><i class="bi bi-arrow-left-short"></i></a>Anterior</div> 

      <div>1 de 15</div>    
  
      <div class="arrow">Seguinte <a href=""><i class="bi bi-arrow-right-short"></i></a></div>
  </div>
  
  
</section>