<header>

  <input class="search-bar" type="search" name="" id="search" placeholder="Pesquisar Produtos">

  <div class="profile">
      <div>
        <h3>{{ request.user.get_full_name }}</h3>
        <p>{{ request.user.email }}</p>
      </div>
      <div class="dropdown">
          <button id="dropdownButton" class="dropbtn bi bi-three-dots-vertical"></button>
          <div id="dropdown-content" class="dropdown-content">
            <a href="#">Configurações</a>
            <a href="#">Política e Privacidade</a>
            <a href="#">Termos de Uso</a>
            <a href="#">Contato</a>
          </div>
      </div>      
      
  </div>

  
</header>

<script>
  document.getElementById('search').addEventListener('input', function() {
    const searchTerm = this.value.toLowerCase();
    const products = document.querySelectorAll('[data-product]');

    editSections('storage');
    // retornar focus para a barra de pesquisa
    this.focus();

    products.forEach(product => {
      const productName = product.getAttribute('data-product').toLowerCase();
      if (productName.includes(searchTerm)) {
        product.style.display = '';
      } else {
        product.style.display = 'none';
      }
    });
  });
</script>