<section class="section storage" id="section-storage">            
          
  <h2 class="section-title">Estoque</h2>
  
  <div class="buttons-container">                     
      
      <label for="itemsPerPage">Mostrar até</label>
      <select class="" id="itemsPerPage">
          <option value="4">5</option>
          <option value="5">10</option>
          <option value="10">15</option>
      </select>

      <button class="export button-storage">
          Exportar
          <i class="bi bi-file-earmark-arrow-down"></i>
      </button>

      <button class="filter button-storage">
          Filtro 
          <i class="bi bi-filter"></i>
      </button>

      <button class="new button-storage">
          Novo produto <i class="bi bi-plus-circle"></i>
      </button>    
  </div>
  
  <div class="table-container">

      <table class="products">
          <thead>
              <tr>
                  <th>Código</th>
                  <th>Nome</th>
                  <th>Dt. Validade</th>
                  <th>Lote</th>
                  <th>Preço uni.</th>
                  <th></th>                            
              </tr>
          </thead>

          <tbody>
              <tr>
                  <td>0000</td>
                  <td>Suco de Laranja</td>
                  <td>02/10/2024</td>
                  <td>845784X</td>
                  <td>R$ 12,00</td>
                  <td class="storage-icons">
                      <i title="Editar" class="bi bi-pencil"></i>
                      <i title="Excluir" class="bi bi-trash"></i>
                  </td>
              </tr>  
              
              <tr>
                  <td>0000</td>
                  <td>Suco de Laranja</td>
                  <td>02/10/2024</td>
                  <td>845784X</td>
                  <td>R$ 12,00</td>
                  <td class="storage-icons">
                      <i title="Editar" class="bi bi-pencil"></i>
                      <i title="Excluir" class="bi bi-trash"></i>
                  </td>
              </tr>   

              <tr>
                  <td>0000</td>
                  <td>Suco de Laranja</td>
                  <td>02/10/2024</td>
                  <td>845784X</td>
                  <td>R$ 12,00</td>
                  <td class="storage-icons">
                      <i title="Editar" class="bi bi-pencil"></i>
                      <i title="Excluir" class="bi bi-trash"></i>
                  </td>
              </tr>                              
              
          </tbody>  
      </table>
  </div>

  <div class="table-arrows">
      <div class="arrow"><a href=""><i class="bi bi-arrow-left-short"></i></a>Anterior</div> 

      <div>1 de 15</div>    
  
      <div class="arrow">Seguinte <a href=""><i class="bi bi-arrow-right-short"></i></a></div>
  </div>
  
</section>