<section class="section storage" id="section-storage">
  <h2 class="section-title">Estoque</h2>

  <div class="buttons-container">

  <button class="export button-storage" onclick="exportProducts()">
      Exportar
      <i class="bi bi-file-earmark-arrow-down"></i>
    </button>

    <button onclick="updateProduct()" class="new button-storage">
      Novo produto <i class="bi bi-plus-circle"></i>
    </button>
  </div>

  <div class="table-container">
    <!-- Tabela de produtos -->
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Categoria</th>
          <th>Quantidade</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for produto in produtos %}
        <tr data-product="{{ produto.nome }}">
          <td>{{ produto.id }}</td>
          <td>{{ produto.nome }}</td>
          <td>{{ produto.categoria }}</td>
          <td>
            <div class="storage_qty">
              <button
                onclick="updateQtyModal({{ produto.id }}, 'decrease')"
                title="Decrease quantity"
                class="bi bi-dash-circle-fill decrease"
              ></button>
              {{ produto.quantidade }}
              <button
                onclick="updateQtyModal({{ produto.id }}, 'increase')"
                title="Increase quantity"
                class="bi bi-plus-circle-fill increase"
              ></button>
            </div>
          </td>
          <td>
            <div class="storage-icons">
              <button
                onclick="updateProduct({{ produto.id }})"
                title="Editar"
                class="open-modal bi bi-pencil edit"
              ></button>
              <button
                onclick="deleteProduct({{ produto.id }})"
                title="Excluir"
                class="open-modal bi bi-trash exclude"
              ></button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</section>


<!-- Modal para criação/edição de produtos -->
<div class="products-modal modal hide">
  <div class="modal-header">
    <h2>Editar produto</h2>
    <button class="close-modal">X</button>
  </div>
  <div class="modal-body">
    <form id="product-form" onsubmit="saveProduct(event)" autocomplete="off">
      {% csrf_token %}
      <input type="hidden" name="product_id" id="product_id" />
      <label for="nome">Nome</label>
      <input type="text" name="nome" id="name" required autocomplete="off" />

      <div class="container-input">
        <div class="input-and-label">
          <label for="categoria">Categoria</label>
          <select
            name="categoria"
            id="category"
            required
            onchange="toggleNewCategoryInput()"
          >
            <option value="">Selecione uma categoria</option>
            {% for categoria in categorias %}
            <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
            {% endfor %}
            <option value="new">Nova Categoria</option>
          </select>
          <input
            type="text"
            name="new_category"
            id="new_category"
            placeholder="Nome da nova categoria"
            style="display: none"
            autocomplete="off"
          />
        </div>

        <div class="input-and-label">
          <label for="quantidade">Quantidade</label>
          <input
            type="number"
            name="quantidade"
            id="quantity"
            required
            autocomplete="off"
          />
        </div>
      </div>

      <label for="descricao">Descrição</label>
      <textarea name="descricao" id="description" required autocomplete="off"></textarea>
      <button class="accept" type="submit">Salvar</button>
    </form>
  </div>
</div>


<!--Modal excluir-->
<div class="product-delete modal hide">
  <div class="modal-header">
      <h2>Excluir Produto</h2>
      <button title="Fechar" class="close-modal">X</button>
  </div>
  <div class="modal-body">

      <h3>Confirmar exclusão de produto? Esta ação não pode ser desfeita.</h3>
      <p class="product-delete__product_name"></p>
      <div class="buttons-container">
        <button class="accept">Confirmar</button>                                                   
    </div>
  </div>
</div>

<!-- Modal de atualizar Quantidade-->
<div class="update-quantity modal hide">
  <div class="modal-header">
    <h2>Atualizar Quantidade</h2>
    <button class="close-modal">X</button>
  </div>
  <div class="modal-body">
    <h3><span id="modal_product_name">Nome do Produto</span></h3>
    <p>Quantidade atual: <span id="modal_product_qty">0</span></p>
    <form id="quantity-form" onsubmit="updateQty(event)">
      {% csrf_token %}
      <input type="hidden" name="product_id" id="product_id" />
      <input type="hidden" name="action" id="action" />
      <label for="quantity">Quantidade</label>
      <input type="number" name="quantity" id="quantity" required />
      <button class="accept" type="submit">Salvar</button>
    </form>
  </div>
</div>

<script>
  function updateProduct(product_id) {
    const productsModal = document.querySelector(".products-modal");
    const modalHeader = productsModal.querySelector(".modal-header h2");

    if (product_id) {
      modalHeader.textContent = "Editar Produto";
      // Fetch product data
      fetch(`/get_product_data/${product_id}/`)
        .then((response) => response.json())
        .then((data) => {
          if (data.error) {
            alert(data.error);
          } else {
            document.querySelector("#product_id").value = product_id;
            document.querySelector("#name").value = data.name;
            document.querySelectorAll("#category option").forEach((option) => {
              if (option.value == data.category) {
                option.selected = true;
              }
            });
            document.querySelector("#description").value = data.description;
            document.querySelector("#quantity").value = data.quantity;
            document.querySelector("#new_category").style.display = "none";
          }
        })
        .catch((error) => console.error("Error fetching product data:", error));
    } else {
      modalHeader.textContent = "Adicionar Produto";
      // Clear form fields
      document.querySelector("#product_id").value = "";
      document.querySelector("#name").value = "";
      document.querySelector("#category").value = "";
      document.querySelector("#description").value = "";
      document.querySelector("#quantity").value = "";
      document.querySelector("#new_category").style.display = "none";
    }

    toggleModal(productsModal);
  }

  function toggleNewCategoryInput() {
    const categorySelect = document.querySelector("#category");
    const newCategoryInput = document.querySelector("#new_category");
    if (categorySelect.value === "new") {
      newCategoryInput.style.display = "block";
      newCategoryInput.required = true;
    } else {
      newCategoryInput.style.display = "none";
      newCategoryInput.required = false;
    }
  }

  function saveProduct(event) {
    event.preventDefault();
    const formData = new FormData(document.querySelector("#product-form"));
    fetch("/save_product/", {
      method: "POST",
      body: formData,
      headers: {
        "X-CSRFToken": formData.get("csrfmiddlewaretoken"),
      },
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          window.location.reload();
        } else {
          alert("Erro ao salvar produto: " + JSON.stringify(data.errors));
        }
      })
      .catch((error) => console.error("Error saving product:", error));
  }

  function deleteProduct(product_id) {
    const productDeleteModal = document.querySelector(".product-delete");

    // Fetch product data to get the name
    fetch(`/get_product_data/${product_id}/`)
      .then((response) => response.json())
      .then((data) => {
      if (data.error) {
        alert(data.error);
      } else {
        document.querySelector(".product-delete__product_name").textContent = data.name;
        toggleModal(productDeleteModal);
      }
      })
      .catch((error) => console.error("Error fetching product data:", error));

    document.querySelector(".product-delete .accept").addEventListener("click", function() {
      fetch(`/delete_product/${product_id}/`, {
        method: "DELETE",
        headers: {
          "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value,
        },
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            window.location.reload();
          } else {
            alert("Erro ao excluir produto: " + data.error);
          }
        })
        .catch((error) => console.error("Error deleting product:", error));
    });
  }

  
  function updateQtyModal(product_id, action) {
    const updateQtyModal = document.querySelector(".update-quantity");
    updateQtyModal.querySelector("#product_id").value = product_id;
    updateQtyModal.querySelector("#action").value = action;
    if (action === "increase") {
      updateQtyModal.querySelector("h2").textContent = "Entrada em Estoque";
    } else {
      updateQtyModal.querySelector("h2").textContent = "Saída de Estoque";
    }

    // Fetch product data
    fetch(`/get_product_data/${product_id}/`)
      .then((response) => response.json())
      .then((data) => {
        if (data.error) {
          alert(data.error);
        } else {
          updateQtyModal.querySelector("#modal_product_name").textContent = data.name;
          updateQtyModal.querySelector("#modal_product_qty").textContent = data.quantity;
        }
      })
      .catch((error) => console.error("Error fetching product data:", error));
    toggleModal(updateQtyModal);
  }

  function updateQty(event) {
    event.preventDefault();
    const formData = new FormData(document.querySelector("#quantity-form"));
    fetch("/update_quantity/", {
      method: "POST",
      body: formData,
      headers: {
        "X-CSRFToken": formData.get("csrfmiddlewaretoken"),
      },
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          window.location.reload();
        } else {
          alert("Erro ao atualizar quantidade: " + data.error);
        }
      })
      .catch((error) => console.error("Error updating quantity:", error));
  }

  function exportProducts() {
    window.location.href = '/export_products/';
  }
</script>
